<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset = "utf-8">
        <meta name = "Description" content= "">
        <meta name = "keyword" content= "">
        <link rel = "stylesheet" href = "/stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" > 
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Faster+One|Roboto+Condensed" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="row">
                
                <div class="col-sm-12 col-md-4 ">
                    <div id="site-header">
                        <a href="/news"><h1 id= "site-title">Padi News</h1></a>
                        <p class="tagline">News Tailored right down to your Taste</p>
                    </div>
                    
                </div>
            
                <div class="col-sm-12 col-md-4  order-md-first ">
                <div class="filter-form1">    
                    <form action="/news/category" method="GET">
                        <label for ="category" >Filter News by Category  </label><br/>
                        <select name ="category" id="category">
                            <option value="">Select a Category </option>
                            <option value="general">General</option>
                            <option value="health">Health</option>
                            <option value="science">Science</option>
                            <option value="sports">Sports</option>
                            <option value="technology">Technology</option>
                            
                        </select>
                    
                        <button class="">Go</button>
                        
                    </form>
                </div>           
                </div>
            
               <div class=" col-sm-12 col-md-4 order-md-last">
                <div class="filter-form2">   
                    <form action="/news/keyword" method="GET">
                        <label for = "keyword">Filter News by Keyword  </label><br/>
                        <input id="keyword" type="text"  name="keyword" placeholder = "Enter a Keyword">
                    
                        <button>Go</button>
                    </form>
                </div>    
                </div> 
            </div>
            
            
        </header>

    